.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.iml
dialer2/build
config.xml
google-services.json
keystore.properties
/buildSrc


# Local user specific env vars for fastlane
fastlane/.env*
!fastlane/.env.EXAMPLE

# Ignoring own private constant files
**/Screenshot-Constants.java

fastlane/**/*.json

####
# fastlane specific as recommended at:
# https://github.com/fastlane/fastlane/blob/master/docs/Gitignore.md
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html
Preview.html

# fastlane temporary build directory
fastlane/**/builds/

# snapshot generated screenshots
fastlane/**/screenshots/**/*.png
fastlane/**/screenshots/screenshots.html

# Private log strings
app/src/main/res/values/log_strings.xml
.floo
.flooignore

