# Vialer key store information
vialerStorePassword=keyStorePassword
vialerKeyPassword=keyAlialsPassord
vialerKeyAlias=keyAlias
vialerStoreFile=keyStoreFile

# Voys key store information
voysStorePassword=keyStorePassword
voysKeyPassword=keyAlialsPassord
voysKeyAlias=keyAlias
voysStoreFile=keyStoreFile

# Verbonden key store information
verbondenStorePassword=keyStorePassword
verbondenKeyPassword=keyAlialsPassord
verbondenKeyAlias=keyAlias
verbondenStoreFile=keyStoreFile

# ANNABel key store information
annabelStorePassword=keyStorePassword
annabelKeyPassword=keyAlialsPassord
annabelKeyAlias=keyAlias
annabelStoreFile=keyStoreFile