<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voipgrid.voip">

    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <service android:name=".android.VoIPService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
        <receiver android:name=".android.NotificationActionReceiver"
            android:exported="true">
        </receiver>

    </application>

</manifest>